<div class="media">
   <div class="media-body">
     <small>
       <%= topic.user.name %> created <%= time_ago_in_words(topic.created_at) %> ago
     </small>
     <p><%= topic.body %></p>
   </div>
 </div>
