// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
  height: 100px;
  width: auto;
  margin: 10px;
  background-color: green;
  color: white;
  text-align: center;
}
